@tailwind base;
@tailwind components;
@tailwind utilities;

// Refer: https://tailwindcss.com/docs/customizing-colors#using-css-variables
// Use HSL colors as they are modern, in here you need to separate the commas as spaces
// Check above url for more details

// when defining colors, you must use --color- prefix to use them in tailwindcss with modifiers

@layer base {
  :root {
    --color-primary: 197.53deg 89.9% 19.41%; // hsl(197.53, 89.9%, 19.41%)
    --color-primary-focus: 198deg 83% 14%; // hsl(197.53, 89.9%, 19.41%)
    --color-primary-hover: 195deg 81% 12%; // hsl(197.53, 89.9%, 19.41%)
    --color-primary-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-secondary: 190deg 76.47% 40%; // hsl(190, 76.47%, 40%)
    --color-secondary-focus: 190deg 76.47% 35%; // hsl(190, 76.47%, 35%)
    --color-secondary-hover: 190deg 76.47% 25%; // hsl(190, 76.47%, 25%)
    --color-secondary-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-tertiary: 287deg 99% 49%; // hsl(287, 99%, 49%)
    --color-tertiary-focus: 287deg 99% 44%; // hsl(287, 99%, 44%)
    --color-tertiary-hover: 287deg 99% 39%; // hsl(287, 99%, 39%)
    --color-tertiary-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-danger: 0 100% 50%; // hsl(0, 100%, 50%)
    --color-danger-focus: 0 100% 45%; // hsl(0, 100%, 45%)
    --color-danger-hover: 0 100% 40%; // hsl(0, 100%, 40%)
    --color-danger-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-warning: 40 100% 50%; // hsl(40, 100%, 50%)
    --color-warning-focus: 40 100% 45%; // hsl(40, 100%, 45%)
    --color-warning-hover: 40 100% 40%; // hsl(40, 100%, 40%)
    --color-warning-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-success: 120 100% 25%; // hsl(120, 100%, 25%)
    --color-success-focus: 120 100% 20%; // hsl(120, 100%, 20%)
    --color-success-hover: 120 100% 15%; // hsl(120, 100%, 15%)
    --color-success-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-muted: 0 0 90%; // hsl(0, 0, 90%)
    --color-muted-focus: 0 0 85%; // hsl(0, 0, 85%)
    --color-muted-hover: 0 0 80%; // hsl(0, 0, 80%)
    --color-muted-text: 0 0 100%; // hsl(0, 0, 100%)

    --color-disabled: 0 0 80%; // hsl(0, 0, 80%)
  }
}
