# name: Deploy Frontend to Production

# on:
#   release:
#     types: [published]
#   workflow_dispatch:

# concurrency:
#   group: 'release-${{ github.ref }}'
#   cancel-in-progress: true

# jobs:
# deploy-pre-production:
#   uses: ./.github/workflows/deploy_preview.yaml
#   with:
#     vercel_env: preview
#   secrets:
#     vercel_org_id: ${{ secrets.VERCEL_ORG_ID }}
#     vercel_token: ${{ secrets.VERCEL_TOKEN }}
#     vercel_project_id: ${{ secrets.VERCEL_PROD_PROJECT_ID }}
#     firebase_svc_key_json: ${{ secrets.FIREBASE_SVC_KEY_JSON }}

# deploy-production:
#   uses: ./.github/workflows/deploy_to_env.yaml
#   with:
#     environment: production

#   secrets:
#     vercel_org_id: ${{ secrets.VERCEL_ORG_ID }}
#     vercel_token: ${{ secrets.VERCEL_TOKEN }}
#     vercel_project_id: ${{ secrets.VERCEL_PROD_PROJECT_ID }}
